@import "./variables.css";

*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);

    background-color: var(--color-claro);

    color: var(--color-oscuro);
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;

    display: block;
}

ul{
    list-style: none;

    padding: 0%;

    margin: 0%;
}

button{
    cursor: pointer;
}

main {
    padding: 20px;
}

.card{
    border: none;

    border-radius: var(--radio);

    box-shadow: var(--sombra);
}

.table{
    background-color: var(--color-claro);
}

.form-control,

.form-select{
    border-radius: var(--radio);
}

.textarea{
    resize: none;
}