@import "./variables.css";
@import "./components.css";
@import "./layout.css";
@import "./pages.css";

/* ==========================
   RESET
========================== */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:var(--fuente-principal);
    background:var(--color-claro);
    color:var(--color-oscuro);

}

a{

    text-decoration:none;
    color:inherit;

}

ul{

    list-style:none;
    padding:0;
    margin:0;

}

img{

    max-width:100%;
    display:block;

}

button{

    cursor:pointer;

}

input,
select,
textarea{

    outline:none;

}

main{

    padding:25px;

}