/* =======================================================
                    NAVBAR
======================================================= */

.navbar-component{

    background:var(--color-blanco);
    box-shadow:var(--sombra-sm);

}

/* =======================================================
                    CONTENEDOR PRINCIPAL
======================================================= */

.main-layout{

    min-height:100vh;

}

/* =======================================================
                    FOOTER
======================================================= */

.footer{

    padding:20px;
    text-align:center;
    color:var(--color-secundario);

}